<a href="https://colab.research.google.com/github/HaxelPG/Proyectos_Python/blob/main/Proyecto_1_P3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Importando librerias
import numpy as np
import pandas as pd

In [ ]:
#Creando lista de los meses
mes=['Enero','Febrero','Marzo','Abril','Mayo']
mes

['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo']

In [ ]:
#Creando lista con las ventas mensuales
ventas=[30500,35600,28300,33900,42500]
ventas

[30500, 35600, 28300, 33900, 42500]

In [ ]:
#Creando lista con los gastos mensuales
gastos=[22000,23450,18100,35700,32450]
gastos

[22000, 23450, 18100, 35700, 32450]

In [ ]:
#Creando DataFrame
datosn={'MES':mes,'VENTAS':ventas,'GASTOS':gastos}
datosn_df=pd.DataFrame(datosn)
datosn_df

       MES  VENTAS  GASTOS
0    Enero   30500   22000
1  Febrero   35600   23450
2    Marzo   28300   18100
3    Abril   33900   35700
4     Mayo   42500   32450

In [ ]:
v_ventas=np.array(ventas)   #Creando array a partir de la lista de ventas
v_gastos=np.array(gastos)   #Creando array a partir de la lista de gastos
col1=(v_ventas/v_gastos)*100   #Calculando los valores para la primera columna a agregar
col1

array([138.63636364, 151.81236674, 156.35359116,  94.95798319,
       130.97072419])

In [ ]:
vcol1=np.round_(col1, decimals = 4)     #redondeando los valores obtenidos en "col1" a 4 decimales y guardando en "vcol1"
listcol1=vcol1.tolist()                 #convirtiendo el array "vcol1" en una lista
listcol1

[138.6364, 151.8124, 156.3536, 94.958, 130.9707]

In [ ]:
#Agregando "listcol1" a nuestro DaraFrame
datosn_df['COLUMNA 1'] = pd.DataFrame(listcol1)
datosn_df.head()

       MES  VENTAS  GASTOS  COLUMNA 1
0    Enero   30500   22000   138.6364
1  Febrero   35600   23450   151.8124
2    Marzo   28300   18100   156.3536
3    Abril   33900   35700    94.9580
4     Mayo   42500   32450   130.9707

In [ ]:
#Creando condiciones para señalar si la meta fue cumplida o no
condiciones = [
    (datosn_df['VENTAS'] >= 30000),
    (datosn_df['VENTAS'] < 30000),
    ]
valores = ['Meta cumplida', 'Meta no cumplida']
datosn_df['COLUMNA 2'] = np.select(condiciones, valores)
datosn_df.head()

       MES  VENTAS  GASTOS  COLUMNA 1         COLUMNA 2
0    Enero   30500   22000   138.6364     Meta cumplida
1  Febrero   35600   23450   151.8124     Meta cumplida
2    Marzo   28300   18100   156.3536  Meta no cumplida
3    Abril   33900   35700    94.9580     Meta cumplida
4     Mayo   42500   32450   130.9707     Meta cumplida

In [ ]:
#Creando condiciones para calcular el sobregasto
condicion = [
    (datosn_df['GASTOS'] > datosn_df['VENTAS'])
        ]
valor = [datosn_df['GASTOS'] - datosn_df['VENTAS']]
datosn_df['COLUMNA 3'] = np.select(condicion, valor)
datosn_df.head()

       MES  VENTAS  GASTOS  COLUMNA 1         COLUMNA 2  COLUMNA 3
0    Enero   30500   22000   138.6364     Meta cumplida          0
1  Febrero   35600   23450   151.8124     Meta cumplida          0
2    Marzo   28300   18100   156.3536  Meta no cumplida          0
3    Abril   33900   35700    94.9580     Meta cumplida       1800
4     Mayo   42500   32450   130.9707     Meta cumplida          0

In [ ]:
#Calculando la venta de los tres últimos meses
venta3meses = datosn_df.iloc[ 2 : 5 , 1 ].sum()
venta3meses

104700

In [ ]:
#Calculando el total de gastos de febrero hasta abril
gastosfebtoabr = datosn_df.iloc[ 1 : 4 , 2 ].sum()
gastosfebtoabr

77250