<a href="https://colab.research.google.com/github/HaxelPG/Proyectos_Python/blob/main/Proyecto_1_P2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
diccionariosueldos={}
ingresasueldo="si"
while(ingresasueldo=="si"):
  nombre=input("Ingrese nombre:")     #solicitando nombre del cliente
  sueldo=float(input(f"Ingrese el sueldo de {nombre}:"))
  diccionariosueldos[nombre]=sueldo
  ingresasueldo=input("¿Desea ingresar otro sueldo? (si) (no):")
print(diccionariosueldos)

Ingrese nombre:Nicole
Ingrese el sueldo de Nicole:1200
¿Desea ingresar otro sueldo? (si) (no):si
Ingrese nombre:Brissa
Ingrese el sueldo de Brissa:5478
¿Desea ingresar otro sueldo? (si) (no):si
Ingrese nombre:Haxel
Ingrese el sueldo de Haxel:1246
¿Desea ingresar otro sueldo? (si) (no):si
Ingrese nombre:Segunda
Ingrese el sueldo de Segunda:3458
¿Desea ingresar otro sueldo? (si) (no):si
Ingrese nombre:Georgina
Ingrese el sueldo de Georgina:3880
¿Desea ingresar otro sueldo? (si) (no):si
Ingrese nombre:Jordan
Ingrese el sueldo de Jordan:2470
¿Desea ingresar otro sueldo? (si) (no):no
{'Nicole': 1200.0, 'Brissa': 5478.0, 'Haxel': 1246.0, 'Segunda': 3458.0, 'Georgina': 3880.0, 'Jordan': 2470.0}

In [ ]:
#Calculando la suma de los sueldo ingresados
suma=0
for i in diccionariosueldos:
    remuneracion=diccionariosueldos.get(i)
    suma=suma+remuneracion
suma

17732.0

In [ ]:
#Obtenemos la media de los sueldo dividiendo la suma de los elementos del diccionario y la cantidad de elementos del diccionario
mediasueldos=suma/len(diccionariosueldos)
print(f'El sueldo promedio es: {mediasueldos}')

El sueldo promedio es: 2955.3333333333335

In [ ]:
#Guardando los valores del diccionario de sueldos en una lista "salary"
salary=list(diccionariosueldos.values())
salary

[1200.0, 5478.0, 1246.0, 3458.0, 3880.0, 2470.0]

In [ ]:
#Encontrando el sueldo mínimo y máximo
max_sueldo=max(salary)
min_sueldo=min(salary)
print(f'El sueldo máximo es: {max_sueldo}')
print(f'El sueldo mínimo es: {min_sueldo}')

El sueldo máximo es: 5478.0
El sueldo mínimo es: 1200.0

In [ ]:
diccionariosueldos

{'Brissa': 5478.0,
 'Georgina': 3880.0,
 'Haxel': 1246.0,
 'Jordan': 2470.0,
 'Nicole': 1200.0,
 'Segunda': 3458.0}

In [ ]:
#Señalando el nombre de la persona con el máximo y mínimo sueldo con su respectiva remuneración
list_of_key = list(diccionariosueldos.keys())  #Guardando en una lista los keys del dicionario de sueldos
list_of_value = list(diccionariosueldos.values()) #Guardando en una lista los valores del dicionario de sueldos
 
position1= list_of_value.index(max_sueldo)
person1=list_of_key[position1]
position2= list_of_value.index(min_sueldo)
person2=list_of_key[position2]
print(f'La persona con el sueldo máximo es: {person1}, con una remuneración de {max_sueldo} soles')
print(f'La persona con el sueldo mínimo es: {person2}, con una remuneración de {min_sueldo} soles')

La persona con el sueldo máximo es: Brissa, con una remuneración de 5478.0 soles
La persona con el sueldo mínimo es: Nicole, con una remuneración de 1200.0 soles

In [ ]:
#Serie con el sueldo mínimo, sueldo máximo y la media de los sueldos
listafinal=[min_sueldo,max_sueldo,mediasueldos]
listafinal

[1200.0, 5478.0, 2955.3333333333335]