<a href="https://colab.research.google.com/github/HaxelPG/Proyectos_Python/blob/main/Proyecto_1_P1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Solicitando el número de unidades del producto y su respectivo precio unitario
c1=int(input('Número de unidades 1:'))
p1=float(input('Precio unitario 1:'))
c2=int(input('Número de unidades 2:'))
p2=float(input('Precio unitario 2:'))
c3=int(input('Número de unidades3 :'))
p3=float(input('Precio unitario 3:'))
c4=int(input('Número de unidades 4:'))
p4=float(input('Precio unitario 4:'))
c5=int(input('Número de unidades 5:'))
p5=float(input('Precio unitario 5:'))

Número de unidades 1:45
Precio unitario 1:2.6
Número de unidades 2:84
Precio unitario 2:3.4
Número de unidades3 :42
Precio unitario 3:1.6
Número de unidades 4:78
Precio unitario 4:1.9
Número de unidades 5:120
Precio unitario 5:3.8

In [ ]:
#Generando una lista con las unidades vendidas por día
cantidades=[c1,c2,c3,c4,c5]
cantidades

[45, 84, 42, 78, 120]

In [ ]:
#Generando una lista con los precios unitarios
precios=[p1,p2,p3,p4,p5]
precios

[2.6, 3.4, 1.6, 1.9, 3.8]

In [ ]:
import numpy as np
import pandas as pd
precios=np.array(precios)    #Creando array a partir de la lista precios
print(precios)

[2.6 3.4 1.6 1.9 3.8]

In [ ]:
precios_d=0.9*precios    #Creando un nuevo array con los precios al 10% de descuento
precios_d

array([2.34, 3.06, 1.44, 1.71, 3.42])

In [ ]:
preciosd=precios_d.tolist()     #Convirtiendo el array en una lista
preciosd

[2.3400000000000003, 3.06, 1.4400000000000002, 1.71, 3.42]

In [ ]:
datosn={'Cantidad':cantidades,'Precio Normal':precios,'Precios dcto 5%':preciosd}
datosn_df=pd.DataFrame(datosn,index=['Dia 1','Dia 2','Dia 3','Dia 4','Dia 5'])
datosn_df

       Cantidad  Precio Normal  Precios dcto 5%
Dia 1        45            2.6             2.34
Dia 2        84            3.4             3.06
Dia 3        42            1.6             1.44
Dia 4        78            1.9             1.71
Dia 5       120            3.8             3.42

In [ ]:
datosn_df.dtypes   #tipos de datos

Cantidad             int64
Precio Normal      float64
Precios dcto 5%    float64
dtype: object

In [ ]:
#Mostrando el movimiento en los tres primeros días
datosn_df.loc["Dia 1":"Dia 3",["Cantidad","Precios dcto 5%"]]

       Cantidad  Precios dcto 5%
Dia 1        45             2.34
Dia 2        84             3.06
Dia 3        42             1.44